--
-- PostgreSQL database dump
--

\restrict shTx15I3VfDbXmvgkmcjmwQjQL5hQrgNyHHoutCNTc5yQKrDNrPLgBGbF3WUChA

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: golfins_user
--

CREATE TYPE public.userrole AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'ADJUSTER',
    'UNDERWRITER',
    'PARTNER'
);


ALTER TYPE public.userrole OWNER TO golfins_user;

--
-- Name: userstatus; Type: TYPE; Schema: public; Owner: golfins_user
--

CREATE TYPE public.userstatus AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public.userstatus OWNER TO golfins_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: claims; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.claims (
    id character varying(36) NOT NULL,
    claim_number character varying(50),
    policy_id character varying(36),
    user_id character varying(36),
    status character varying(20),
    amount_requested numeric(10,2),
    description text,
    incident_date character varying(20),
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    claim_type character varying(30) DEFAULT 'regular'::character varying,
    metadata json
);


ALTER TABLE public.claims OWNER TO golfins_user;

--
-- Name: coverage_options; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.coverage_options (
    id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50),
    description text,
    base_premium numeric(15,2),
    coverage_limit numeric(15,2),
    sub_limit numeric(15,2),
    sub_limit_label character varying(100),
    deductible numeric(15,2),
    territorial_limit character varying(255),
    sort_order integer,
    active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.coverage_options OWNER TO golfins_user;

--
-- Name: equipment; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.equipment (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    policy_id character varying(36),
    name character varying(255) NOT NULL,
    category character varying(50),
    brand character varying(100),
    model_name character varying(100),
    serial_number character varying(100),
    purchase_date character varying(20),
    estimated_value numeric(10,2),
    status character varying(20),
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.equipment OWNER TO golfins_user;

--
-- Name: plan_coverages; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.plan_coverages (
    id character varying(36) NOT NULL,
    plan_id character varying(36) NOT NULL,
    coverage_option_id character varying(36) NOT NULL,
    coverage_limit numeric(15,2) NOT NULL,
    sub_limit numeric(15,2),
    created_at timestamp without time zone
);


ALTER TABLE public.plan_coverages OWNER TO golfins_user;

--
-- Name: policies; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.policies (
    id character varying(36) NOT NULL,
    policy_number character varying(50),
    user_id character varying(36),
    product_id character varying(36),
    status character varying(50),
    premium_amount numeric(10,2),
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    expiry_date timestamp without time zone
);


ALTER TABLE public.policies OWNER TO golfins_user;

--
-- Name: premium_plans; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.premium_plans (
    id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20),
    net_premium numeric(15,2) NOT NULL,
    total_premium numeric(15,2) NOT NULL,
    sort_order integer,
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.premium_plans OWNER TO golfins_user;

--
-- Name: premium_rules; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.premium_rules (
    id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    rule_type character varying(50) NOT NULL,
    min_value numeric(10,2),
    max_value numeric(10,2),
    adjustment_type character varying(20) NOT NULL,
    adjustment_value numeric(10,4) NOT NULL,
    operator character varying(10),
    priority integer,
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.premium_rules OWNER TO golfins_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.products (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50),
    description text,
    product_type character varying(50) NOT NULL,
    currency character varying(10),
    vat_rate numeric(5,4),
    insurance_period_days integer,
    status character varying(20),
    version integer,
    effective_date timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.products OWNER TO golfins_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: golfins_user
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    password_hash character varying(255) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    date_of_birth timestamp without time zone,
    role public.userrole NOT NULL,
    status public.userstatus NOT NULL,
    email_verified boolean,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    deleted_at timestamp without time zone,
    nationality character varying(100),
    gender character varying(20),
    id_passport character varying(100),
    address character varying(500),
    company_name character varying(255),
    user_metadata jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.users OWNER TO golfins_user;

--
-- Data for Name: claims; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: coverage_options; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: equipment; Type: TABLE DATA; Schema: public; Owner: golfins_user
--

COPY public.equipment (id, user_id, policy_id, name, category, brand, model_name, serial_number, purchase_date, estimated_value, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: plan_coverages; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: policies; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: premium_plans; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: premium_rules; Type: TABLE DATA; Schema: public; Owner: golfins_user
--

COPY public.premium_rules (id, product_id, name, description, rule_type, min_value, max_value, adjustment_type, adjustment_value, operator, priority, is_active, created_at, updated_at) FROM stdin;
2f5dfc17-7e18-41c7-a2e6-358b1deec4bb	25cd0aca-d10b-4248-ad64-ff9cc9c173b2	Junior Discount	\N	age	0.00	18.00	percentage	-20.0000	between	1	t	2026-04-04 11:06:39.061078	2026-04-04 11:06:39.06108
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: golfins_user
--



--
-- Name: claims claims_claim_number_key; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.claims
    ADD CONSTRAINT claims_claim_number_key UNIQUE (claim_number);


--
-- Name: claims claims_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.claims
    ADD CONSTRAINT claims_pkey PRIMARY KEY (id);


--
-- Name: coverage_options coverage_options_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.coverage_options
    ADD CONSTRAINT coverage_options_pkey PRIMARY KEY (id);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (id);


--
-- Name: plan_coverages plan_coverages_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.plan_coverages
    ADD CONSTRAINT plan_coverages_pkey PRIMARY KEY (id);


--
-- Name: policies policies_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.policies
    ADD CONSTRAINT policies_pkey PRIMARY KEY (id);


--
-- Name: policies policies_policy_number_key; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.policies
    ADD CONSTRAINT policies_policy_number_key UNIQUE (policy_number);


--
-- Name: premium_plans premium_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.premium_plans
    ADD CONSTRAINT premium_plans_pkey PRIMARY KEY (id);


--
-- Name: premium_rules premium_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.premium_rules
    ADD CONSTRAINT premium_rules_pkey PRIMARY KEY (id);


--
-- Name: products products_code_key; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_code_key UNIQUE (code);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: golfins_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: coverage_options coverage_options_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.coverage_options
    ADD CONSTRAINT coverage_options_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: plan_coverages plan_coverages_coverage_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.plan_coverages
    ADD CONSTRAINT plan_coverages_coverage_option_id_fkey FOREIGN KEY (coverage_option_id) REFERENCES public.coverage_options(id);


--
-- Name: plan_coverages plan_coverages_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.plan_coverages
    ADD CONSTRAINT plan_coverages_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.premium_plans(id);


--
-- Name: premium_plans premium_plans_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.premium_plans
    ADD CONSTRAINT premium_plans_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: premium_rules premium_rules_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: golfins_user
--

ALTER TABLE ONLY public.premium_rules
    ADD CONSTRAINT premium_rules_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- PostgreSQL database dump complete
--

\unrestrict shTx15I3VfDbXmvgkmcjmwQjQL5hQrgNyHHoutCNTc5yQKrDNrPLgBGbF3WUChA

